---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import Skills from "../components/Skills.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    Consultor de software con amplia experiencia en la creación de soluciones innovadoras y eficaces para empresas de todos los tamaños. Mi enfoque en la combinación de tecnología y estrategia empresarial me permite aprovechar al máximo el potencial de la tecnología para impulsar su crecimiento. Ya sea que necesite modernizar sus procesos internos, optimizar su presencia en línea o crear una aplicación totalmente nueva, estoy dispuesto a trabajar con usted para asegurar el éxito de su proyecto.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Ingenieria de Sistemas e Informática"
      subtitle="2023 - Actualidad en Universidad Continental, Lima, Perú"
    />           
    <TimeLineElement
      title="Ciencias de la educación"
      subtitle="2017 to 2019 en Universidad Nacional de Educación Enrique Guzman y Valle, Lima, Perú"
    />    
    <TimeLineElement
      title="Computación e Informática"
      subtitle="2006 al 2008 en Instituto Superior tecnológico Público Jose Pardo, Lima, Perú"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia Industria TI</div>
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement
      title="IT Analyst Robotic Process Automation (RPA)"
      subtitle="Desde 2019 en Tata Consultancy Services. Lima - Perú"
      desc="Diseño y automatizo procesos de negocio con tecnología RPA, desarrollando bots escalables y seguros para entornos Onpremise y Cloud. Poseo experiencia en diseño, guía de implementación de soluciones tecnológicas y desarrollo de componentes en .NET para hiperautomatización, utilizando el marco Ágil Scrum. Además, mantengo una comunicación efectiva con líderes y stakeholders."
    />
    <TimeLineElement
      title="Senior Software Application Engineer"
      subtitle="Desde Nov. 2012 hasta Dic. 2019 en Accenture Perú. Lima - Perú"
      desc="Líder de equipo dedicado a incidencias y requerimientos para el sector bancario. Expertise en arquitectura, diseño y desarrollo de bots Onpremise, así como en diseño funcional, técnico y guía de implementación de soluciones tecnológicas. Fullstack developer con experiencia en el sector de las telecomunicaciones. Especialista en software saldomáticos para el sector bancario. Amplio conocimiento en .NET, SQL Server, Oracle, Rest y ETL, con experiencia en modelamiento de bases de datos y optimización del rendimiento. Experiencia tanto en metodología Ágil Scrum como en cascada."
    />
    <TimeLineElement
      title="Middle Software Developer"
      subtitle="Desde 2011 a 2012 en Cora-It, Lima, Perú"
      desc="Fui asignado como bodyshopping para proyectos comerciales del sector banca, especializándome en software saldomáticos y procesos back-end con tecnologías Microsoft .NET, Cobol y SQL Server."
    />
    <TimeLineElement
      title="Asociate Software Developer"
      subtitle="2010 en Planinvest S.A, Lima, Perú"
      desc="Fui asignado a continuar con la construcción del ERP ad-hoc de la empresa, centrándome en los módulos de Personal, Planilla, Asistencia y Costos, utilizando tecnologías Visual Basic .NET y SQL Server."
    />
    <TimeLineElement
      title="Training Software Developer"
      subtitle="2009 en Consulting Asociados S.A, Lima, Perú"
      desc="Formé parte del equipo desarrollador de un software de gestión de recursos humanos para un destacado concesionario de automóviles, con un enfoque en el calculador de planilla y los cálculos de los conceptos tributarios."
    />
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia Docencia TI</div>
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Instituto San Pablo - Carrera de Computación e Informática"
      subtitle="Tech instructor el 2016"
      desc="Docente del curso Taller de Aplicaciones Distribuidas para el IV ciclo de la carrera de Computación e Informática. Se utilizaron las herramientas Microsoft Visual Studio 2013 y SQL Server 2012."
    />
    <TimeLineElement
      title="Instituto SISE - Carrera de Computación e Informática"
      subtitle="Tech instructor del 2012 al 2015"
      desc="Docente de los cursos Calidad de Software, Taller de certificación .Net Framework 4, Administración de Base de Datos I y II - Oracle 11g y Fundamentos de Programación."
    />    
  </div> 
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificaciones</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://edu.kanban.university/user/102597/8/qualification-certificate/TWlsdG9uIEJhbHRhemFyIFZhbGVuenVlbGE6c2Vydmlkb3I6MTY3MDAzOTI0NA==" target="_blank"> Certificate Kanban Management Professional (KMP)</a>
    </li>
    <li>
      <a href="https://certificate.rocketbot.co/validate/?token=e7645d63-3c46-69d9-69b9-456f0d8dac67" target="_blank"> Certificate Bot Builder Rocketbot Expert Level 1 (BBRE 1)</a>
    </li>
    <li>
      <a href="https://certificates.automationanywhere.com/f47b2b6f-b1ab-4eaf-822c-83333cb8431f" target="_blank"> Automation Anywhere Certified Advanced RPA</a>
    </li>    
  </ul>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Insignias y Trofeos</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li><a href="https://www.credly.com/badges/afd144ca-fca4-4886-81cd-dff40342be93/linked_in_profile" target="_blank">Introduction to Data Science</a></li>
    <li><a href="https://www.credly.com/badges/d1aa1f2a-9659-41d4-9607-40ac041ec15e/linked_in_profile" target="_blank">Design Thinking Process</a></li>
    <li><a href="https://learn.microsoft.com/api/achievements/share/en-us/MiltonManuelBaltazarValenzuela-7031/DLP9XF7J?sharingId=489D48EBF8CF037D" target="_blank">PL-900: Microsoft Power Platform Fundamentals</a></li>
    <li>TechStar Accenture Perú 2019</li>
  </ul>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Comunidad y Voluntariado</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li><a href="https://linktr.ee/perunetdevelopment" target="_blank">Co-Fundador de la comunidad Perú .NET Development</a></li>
  </ul>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>
  <div class="time-line-container mb-10">
    <Skills category="Automatización/Low-Code" tags={["Power Platform","Automation Anywhere","UIPath","Rocketbot"]}>
    </Skills>
    <Skills category="Backend" tags={["Python","C#", "Visual Basic .NET", "Java","PHP"]}>
    </Skills>
    <Skills category="DataBase" tags={["Oracle","Postgres SQL","MySQL","SQL Server", "VUE"]}>
    </Skills>
    <Skills category="Software Life Cycle" tags={["Technical Design Document (TDD)","Arquitectura de Software"]}>
    </Skills>  
    <Skills category="Business Analyst" tags={["BPMN","UML","IDEF0","C4","Process Design Document (PDD)",]}>
    </Skills>
    <Skills category="Big Data" tags={["SQL Server Integration Service (SSIS)","SQL Server Reporting Services (SSRS)"]}>
    </Skills>
    <Skills category="Agile" tags={["Metodologias Ágiles","Scrum","Kanban","Jira","Trello"]}>
    </Skills>
    <Skills category="Frontend" tags={["VUE","Astro","Bootstrap","Wordpress","Git","UI Design","WEB Design","Office Suite"]}>
    </Skills>    
  </div>
 
</BaseLayout>
