---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    Consultor de software con amplia experiencia en la creación de soluciones innovadoras y eficaces para empresas de todos los tamaños. Mi enfoque en la combinación de tecnología y estrategia empresarial me permite aprovechar al máximo el potencial de la tecnología para impulsar su crecimiento. Ya sea que necesite modernizar sus procesos internos, optimizar su presencia en línea o crear una aplicación totalmente nueva, estoy dispuesto a trabajar con usted para asegurar el éxito de su proyecto.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Ingenieria de Sistemas e Informática"
      subtitle="2023 - Actualidad en Universidad Continental, Lima, Perú"
    />       
    <TimeLineElement
      title="Negocios Internacionales"
      subtitle="2023 - Actualidad en Universidad Tecnológica de México, Ciudad de México, México"
    />        
    <TimeLineElement
      title="Ciencias de la educación"
      subtitle="2017 to 2019 en Universidad Nacional de Educación Enrique Guzman y Valle, Lima, Perú"
    />    
    <TimeLineElement
      title="Computación e Informática"
      subtitle="2006 al 2008 en Instituto Superior tecnológico Público Jose Pardo, Lima, Perú"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="IT Analyst Robotic Process Automation (RPA)"
      subtitle="Desde 2019 en Tata Consultancy Services. Lima - Perú"
      desc="Diseño y automatizo procesos de negocio con tecnología RPA, desarrollando bots escalables y seguros para entornos Onpremise y Cloud. Poseo experiencia en diseño, guía de implementación de soluciones tecnológicas y desarrollo de componentes en .NET para hiperautomatización, utilizando el marco Ágil Scrum. Además, mantengo una comunicación efectiva con líderes y stakeholders."
    />
    <TimeLineElement
      title="Senior Software Application Engineer"
      subtitle="Desde Nov. 2012 hasta Dic. 2019 en Accenture Perú. Lima - Perú"
      desc="Líder de equipo dedicado a incidencias y requerimientos para el sector bancario. Expertise en arquitectura, diseño y desarrollo de bots Onpremise, así como en diseño funcional, técnico y guía de implementación de soluciones tecnológicas. Fullstack developer con experiencia en el sector de las telecomunicaciones. Especialista en software saldomáticos para el sector bancario. Amplio conocimiento en .NET, SQL Server, Oracle, Rest y ETL, con experiencia en modelamiento de bases de datos y optimización del rendimiento. Experiencia tanto en metodología Ágil Scrum como en cascada."
    />
    <TimeLineElement
      title="Middle Software Developer"
      subtitle="Desde 2011 a 2012 en Cora-It, Lima, Perú"
      desc="Fui asignado como bodyshopping para proyectos comerciales del sector banca, especializándome en software saldomáticos y procesos back-end con tecnologías Microsoft .NET, Cobol y SQL Server."
    />
    <TimeLineElement
      title="Asociate Software Developer"
      subtitle="2010 en Planinvest S.A, Lima, Perú"
      desc="Fui asignado a continuar con la construcción del ERP ad-hoc de la empresa, centrándome en los módulos de Personal, Planilla, Asistencia y Costos, utilizando tecnologías Visual Basic .NET y SQL Server."
    />
    <TimeLineElement
      title="Training Software Developer"
      subtitle="2009 en Consulting Asociados S.A, Lima, Perú"
      desc="Formé parte del equipo desarrollador de un software de gestión de recursos humanos para un destacado concesionario de automóviles, con un enfoque en el calculador de planilla y los cálculos de los conceptos tributarios."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificaciones</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.efset.org/cert/DxtNKG" target="_blank"> Certificate Kanban Management Professional (KMP)</a>
    </li>
    <li>
      <a href="https://certiprof.com/pages/scrum-foundation-professional-certificate-sfpc-en-sp" target="_blank"> Certificate Bot Builder Rocketbot Expert Level 1 (BBRE 1)</a>
    </li>
    <li>
      <a href="https://certiprof.com/pages/scrum-foundation-professional-certificate-sfpc-en-sp" target="_blank"> Automation Anywhere Certified Advanced RPA</a>
    </li>    
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Automation Anywhere</li>
    <li>UIPath</li>
    <li>Rocketbot</li>
    <li>Python</li>
    <li>C#</li>
    <li>Visual Basic .NET</li>
    <li>Java</li>    
    <li>PHP</li>
    <li>Oracle</li>
    <li>Postgres SQL</li>
    <li>MySQL</li>
    <li>SQL Server</li>
    <li>UML</li>
    <li>IDEF0</li>
    <li>C4</li>
    <li>ETL, Reporting Services</li>
    <li>Herramientas case</li>
    <li>Scrum</li>
    <li>Kanban</li>
    <li>VUE</li>
    <li>Astro</li>
    <li>Bootstrap</li>
    <li>Wordpress</li>
    <li>Git</li>
    <li>Jira</li>
    <li>Trello</li>
    <li>UI Design</li>
    <li>WEB Design</li>
    <li>Office Suite</li>
  </ul>
</BaseLayout>
