---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Neptuzi
  </div>
  <div class="inline opacity-75">
    <!-- Thanks for using this template. Please keep this line to support my work :) -->
    <a href="https://miltonbaltazar.github.io/" target="_blank" class="font-bold">Website </a> developed by
    <a href="https://miltonbaltazar.github.io/" target="_blank" class="font-bold">Milton Baltazar ⚡️</a>
  </div>
</footer>
<style>

</style>
